* {
  margin: 0;
}

.App {
  background: #DCE1E3;
}

h1 {
  text-align: center;
  color: #004E7C;
  font-size: 3rem;
  padding: 2rem;
}

h3, h5 {
  color: 	#B73225;
}

h3, h5 {
  color: 	#B73225;
}

p {
  color: 	#5C5F58;
  padding: 1rem;
}

img {
  padding-top: 1rem;
}

#headline {
  display: block;
}

.container-comics {
  padding: 2rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
}

.comic-books {
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  /* display: flex;
  justify-content: space-evenly; */
}

.zone {
 
}
